.listing-cover {
	@extend .entry-cover;

	@include bp(sm) {
		padding: 8em 0 3em;
	}

	@include bp(md) {
		padding: 16em 0 5em;
	}

	&:after {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
}

@include bp(lg) {
	.listing-cover--size-large {
		padding-top: 24em;
	}
}

.listing-cover--gradient {
	@extend .entry-cover--gradient;
}
