.select2.select2-container--default .select2-selection--single {
	border-width: 1px;
	border-style: solid;
	box-shadow: none;
	border-radius: 4px;
	max-width: 100%;
	height: auto;
}

.select2.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: normal;
	padding: 11px 15px;
}

.select2.select2-container--default .select2-selection--single .select2-selection__arrow {
	width: 40px;
	height: 40px;
}

.select2-container .select2-search--dropdown .select2-search__field {
	border-radius: 3px;
}
