.wc-social-login .si-amazon {
	background-image: url("../inc/integrations/woocommerce-social-login/images/amazon.svg");
}

.wc-social-login .si-disqus {
	background-image: url("../inc/integrations/woocommerce-social-login/images/disqus.svg");
}

.wc-social-login .si-facebook {
	background-image: url("../inc/integrations/woocommerce-social-login/images/facebook.svg");
}

.wc-social-login .si-google {
	background-image: url("../inc/integrations/woocommerce-social-login/images/google.svg");
}

.wc-social-login .si-instagram {
	background-image: url("../inc/integrations/woocommerce-social-login/images/instagram.svg");
}

.wc-social-login .si-linkedin {
	background-image: url("../inc/integrations/woocommerce-social-login/images/linkedin.svg");
}

.wc-social-login .si-paypal {
	background-image: url("../inc/integrations/woocommerce-social-login/images/paypal.svg");
}

.wc-social-login .si-twitter {
	background-image: url("../inc/integrations/woocommerce-social-login/images/twitter.svg");
}

.wc-social-login .si-vkontakte {
	background-image: url("../inc/integrations/woocommerce-social-login/images/vkontakte.svg");
}

.wc-social-login .si-yahoo {
	background-image: url("../inc/integrations/woocommerce-social-login/images/yahoo.svg");
}
